h1 {
    color:blue;
    text-align: center;
}
h2 {
    color: lightblue;
    padding: 20px 0;
    margin: 0;
}
img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background: whitesmoke;
}
a{
    text-decoration: none;
}
#center {
    text-align: center;
}
td {
    text-align: left;
}

li{
    list-style: none;
}
.navbar{
    background: red;
}
.button {
    background-color: aqua;   
}
@media (max-width: 600px) {
    .dropdown-menu {
     display: block;
    }
 }
